[Unit]
Description=Bazzite Devkit Service
Documentation=https://github.com/lobinuxsoft/bazzite-devkit
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/bazzite-devkit/devkit_service.py
Restart=on-failure
RestartSec=5
User=%i

[Install]
WantedBy=multi-user.target
